.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.bar {
  display: flex;
  flex-direction: row;
  margin: 3em 0 1em 0;
  justify-content: space-evenly;

}

.addButton {
  width: 7em;
  border-radius: 5px;

}

